
img(src='http://mblogthumb1.phinf.naver.net/MjAxNjExMDNfMjI2/MDAxNDc4MTM3MzE1NTg1.s8eSU9ZQ68uAaYL_WPRgplm7ygFaqJmLCklYaRrI0qEg.0vJGZEWSy-hFYYFTrjuN7DTmopbiQi_NhVKRvD-zr-Ug.JPEG.edu916/2017%EB%85%84_5%EC%9B%94_%EB%8B%AC%EB%A0%A5.jpg?type=w800' id='cdr')
input(type='button', value='뒤로가기', onclick='history.back();' id='back')
